:root {
  font-size: 62.5%;
  --primaryColor: #008ed6;
  --secondaryColor: #868e96;
  --mainWhite: #fff;
  --mainBlack: #444;
  --mainGrey: #f4f4f4;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.3;
  --mainTransition: all 0.3s linear;
  --largeFont: 9rem;
  --mediumFont: 5.5rem;
  --smallFont: 4.6rem;
}
html {
  scroll-behavior: smooth;
}
@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  padding: 68.75px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainGrey);
  overflow-x: hidden;
  color: var(--mainBlack);
  font-size: 1.6rem;
}

/* end of globals */

/* navbar */
.navbar-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3 ease;
  background: rgba(0, 0, 0, 0.336);
  z-index: 1;
  visibility: hidden;
}
.transparent-bg {
  visibility: visible;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 2rem;
  background: var(--mainWhite);
  box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
  z-index: 1;
  border-top: 1px solid var(--primaryColor);
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-header img {
  width: 5rem;
  /* height: 5rem; */
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  color: var(--primaryColor);
  /* font-weight: bolder; */
  font-size: 1.8rem;
  padding: 0 0.5rem 0 0;
}

.nav-icon {
  font-size: 2.5rem;
  color: var(--primaryColor);
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.home-color {
  color: orangered;
}
.info-color {
  color: purple;
}
.brief-color {
  color: black;
}
.cog-color {
  color: blue;
}
.blog-color {
  color: orange;
}
.env-color {
  color: limegreen;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: left;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  /* font-weight: 600; */
}

.nav-item > .active {
  /* border-bottom: 2px solid var(--primaryColor); */
  font-weight: bolder;
  color: var(--primaryColor);
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 25rem;
}

.follow-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 2rem;
    background: var(--mainWhite);
    box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
    z-index: 1;
    border-top: 2px solid var(--primaryColor);
  }
  .nav-btn {
    display: none;
  }
  .nav-header img {
    width: 6rem;
    /* height: 5rem; */
  }
  .nav-center {
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 1rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }

  .nav-item > .active {
    font-weight: bolder;
    color: var(--primaryColor);
    transition: var(--mainTransition);
  }
  .link-icon {
    display: none;
  }

  .follow-links {
    display: flex;
    list-style-type: none;
  }

  .follow-links .follow-icon {
    color: var(--mainWhite);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .follow-links .follow-icon-container1 {
    background: #3b5998;
    padding: 0.3rem 0.3rem;
    border-radius: 0.2rem;
  }
  .follow-links .follow-icon-container2 {
    background: #55acee;
    padding: 0.3rem 0.3rem;
    border-radius: 0.2rem;
  }
  .follow-links .follow-icon-container3 {
    background: #e95950;
    padding: 0.3rem 0.3rem;
    border-radius: 0.2rem;
  }
  .follow-links .follow-icon-container4 {
    background: #007bb5;
    padding: 0.3rem 0.3rem;
    border-radius: 0.2rem;
  }
  .follow-links .follow-icon-container5 {
    background: #04669a;
    padding: 0.3rem 0.3rem;
    border-radius: 0.2rem;
  }
  .follow-container {
    margin: 0 0 0 1rem;
  }
}
/* End of Navbar */

/* Hero */
.defaultHero {
  min-height: calc(100vh - 68.75px);
  background: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.699),
      rgba(54, 130, 170, 0.699)
    ),
    url("https://res.cloudinary.com/dymhdpka1/image/upload/v1588213497/PETER-HERO_wsrdac.jpg")
      center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .defaultHero {
    min-height: calc(100vh - 67.5px);
    background: linear-gradient(
        to right,
        rgba(12, 12, 12, 0.699),
        rgba(54, 130, 170, 0.699)
      ),
      url("https://res.cloudinary.com/dymhdpka1/image/upload/v1588213497/PETER-HERO_wsrdac.jpg")
        center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    position: relative;
  }
}
/* End of Hero */

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.5); */
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.banner h1 {
  font-size: var(--smallFont);
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.banner p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.banner ul {
  display: flex;
  justify-content: center;
}
.banner li {
  list-style-type: none;
  margin: 0 1rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1rem auto;
}

.banner-follow {
  color: var(--mainWhite);
  font-size: 3rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.1rem;
  /* border-radius: 0.2rem; */
  text-decoration: none;
  border: 0.15rem solid var(--mainWhite);
  color: var(--mainWhite);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  background: none;
}

.animated-btn {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.btn:hover {
  cursor: pointer;
  border: solid 0.15rem var(--mainWhite);
  background: var(--primaryColor);
  transition: all linear 1s;
}

.indicator {
  /* color: var(--mainWhite); */
  color: var(--mainBlack);
  border-radius: 0.2rem;
  font-size: 1.5rem;
  padding: 0.4rem 0.6rem 0 0.6rem;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 47%;
  /* background: rgba(0, 0, 0, 0.6); */
  background: var(--mainWhite);
  box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
}
@media screen and (min-width: 768px) {
  .banner h1 {
    font-size: var(--largeFont);
    letter-spacing: 0.3rem;
  }
  .banner p {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 4rem;
    text-decoration: none;
    border: 3px solid var(--mainWhite);
    color: var(--mainWhite);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    background: none;
    transition: all linear 1s;
  }
  .btn:hover {
    cursor: pointer;
    border: solid 0.3rem var(--mainWhite);
    background: var(--primaryColor);
    transition: all linear 1s;
  }
  .banner-follow {
    color: var(--mainWhite);
    font-size: 4rem;
  }
  .banner div {
    width: 20rem;
    height: 1rem;
    background: var(--primaryColor);
    margin: 1.7rem auto;
  }
  .indicator {
    color: var(--mainBlack);
    border-radius: 0.2rem;
    font-size: 2rem;
    padding: 0.8rem 1rem 0 1rem;
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: absolute;
    display: inline-block;
    bottom: 5%;
    left: 49%;
    /* background: rgba(0, 0, 0, 0.6); */
    background: var(--mainWhite);
    box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
  }
}
/* End of Banner */

/* Services */
.services {
  padding: 6rem 0;
}
.services {
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
}
.services span {
  display: inline-block;
  /* color: red; */
  font-size: 7.5rem;
}
.gem-color {
  color: rgb(4, 189, 14);
}
.heart-color {
  color: rgb(255, 56, 89);
}
.rocket-color {
  color: rgb(231, 198, 6);
}
.desktop-color {
  color: purple;
}

.services h4 {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: var(--primaryColor);
  margin: 0 0 1.5rem 0;
}
.services p {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .services-center {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
/* End of Services */

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 5rem;
}
.color-primary {
  color: var(--mainBlack);
  padding-left: 2rem;
}
.color-secondary {
  color: var(--mainBlack);
  padding: 0 2rem 0 0;
}
.section-title h1 {
  font-size: 4rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}
.section-title h2 {
  padding: 1rem 0 0 0;
  color: var(--secondaryColor);
}
.section-title div {
  width: 7rem;
  height: 0.6rem;
  margin: 0 auto;
  background: var(--primaryColor);
}

@media screen and (min-width: 768px) {
  .section-title h1 {
    font-size: var(--mediumFont);
    text-transform: capitalize;
  }
  .section-title div {
    width: 10rem;
    height: 0.8rem;
    margin: 0 auto;
    background: var(--primaryColor);
  }
}
/* End of Title */

/* About */
.about {
  padding: 6rem 2rem;
}
.about {
  background: var(--mainWhite);
}
.image-round {
  width: 18rem;
  border-radius: 50%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0.1, 0.1, 0.1, 0.5);
}

.biography-image {
  justify-content: center;
  display: flex;
}
.biography-text p {
  margin: 2rem 0;
}
.resume {
  text-decoration: none;
  font-weight: bolder;
  color: blueviolet;
  padding-left: 0.4rem;
}
.stack-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 3rem;
}
.stack {
  box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.4);
  background-color: var(--mainWhite);
  padding: 1.5rem;
  border-bottom: 5px solid var(--secondaryColor);
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
}
.stack h3 {
  text-transform: uppercase;
  color: var(--primaryColor);
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .about-center {
    max-width: 1170px;
    margin: 0 auto;
  }

  .biography {
    display: flex;
    flex-direction: column;
  }
  .image-round {
    width: 25rem;
    border-radius: 50%;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0.1, 0.1, 0.1, 0.5);
  }
  .stack {
    box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.4);
    background-color: var(--mainWhite);
    padding: 1.5rem;
    border-bottom: 5px solid var(--secondaryColor);
    margin: 3rem 0 2rem 0;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1366px) {
  .biography {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }
}
/* End of About */

/* Projects */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 0 2rem 0;
  text-transform: capitalize;
  color: var(--primaryColor);
}
.sort-look {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 3rem 0;
}

.sort-look label {
  text-transform: uppercase;
  color: var(--mainBlack);
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 0 0 1.5rem 0;
}

.option-text {
  text-transform: uppercase;
}

.form-control {
  padding: 0.5rem 0.2rem;
  width: 30%;
  background: var(--mainWhite);
  color: var(--primaryColor);
  border: none;
  font-size: 1.2rem;
  border-radius: 0.1rem;
  text-transform: uppercase;
}

.sort-look option {
  font-size: 1rem;
  color: var(--secondaryColor);
}

.projects {
  padding: 6rem 2rem;
}
.project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}
.project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: var(--mainTransition);
  border-radius: 0.2rem;
  background-color: var(--mainWhite);
}
.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.685);
  transition: var(--mainTransition);
  /* margin: -0.3rem -0.3rem 0 -0.3rem; */
  transform: scale(1.05);
}
.project-image {
  width: 100%;
  border-radius: 0.2rem 0.2rem 0px 0px;
}
.project-text {
  padding: 0 1.5rem;
}
.project-text p {
  font-size: 1.3rem;
}
.project-body h3 {
  text-transform: uppercase;
  color: var(--mainBlack);
}
.project-body h5 {
  text-transform: capitalize;
  color: var(--mainBlack);
}
.project-techs {
  display: flex;
  padding: 0 0 0.5rem 0;
}
.project-techs ul {
  display: flex;
}
.project-techs li {
  margin: 0 1rem 0 0;
  border: 2px solid none;
  padding: 0px 10px;
  margin-right: 5px;
  border-radius: 5%;
  background: var(--secondaryColor);
  color: var(--mainWhite);
  text-transform: uppercase;
  font-size: 1.2rem;
  list-style-type: none;
}
.project-btns {
  display: flex;
  justify-content: center;
  border-top: 0.1rem solid var(--mainGrey);
  padding: 1rem 0;
  font-size: 1.2rem;
}
.chrome-btn {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 4px 15px;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  /* font-size: 14px; */
  margin-right: 5px;
  font-weight: bold;
}
.github-btn {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
  padding: 4px 15px;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  /* font-size: 14px; */
  margin-right: 5px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .sort-look label {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 0 1.5rem 0;
  }

  .form-control {
    padding: 1rem 0.2rem;
    width: 20%;
    background: var(--mainWhite);
    border: none;
    font-size: 1.8rem;
    border-radius: 0.1rem;
  }

  .sort-look option {
    font-size: 1.6rem;
  }

  .project-center {
    max-width: 1170px;
    margin: 0 auto;
  }
}
/* End of Projects */

/* Skills */
.skills {
  padding: 6rem 2rem;
  background: var(--mainWhite);
}
.skillz {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2rem;
  padding: 2rem 0;
}
.skill {
  background: var(--mainWhite);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0.1, 0.1, 0.1, 0.5);
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  transition: var(--mainTransition);
}

.skill:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.651);
  transition: var(--mainTransition);
}
.skill h4 {
  margin: 1rem 0 0 0;
  text-transform: uppercase;
  color: var(--primaryColor);
}

.html-color {
  background: rgba(230, 170, 91, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: orange;
}
.html-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: orange;
}

.css-color {
  background: rgba(46, 112, 235, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: blue;
}
.css-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: blue;
}

.js-color {
  background: rgba(223, 235, 46, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: yellow;
}
.js-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: yellow;
}
.react-color {
  background: rgba(46, 235, 210, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: cyan;
}
.react-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: cyan;
}

.bootstrap-color {
  background: rgba(233, 77, 238, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: purple;
}
.bootstrap-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: purple;
}

.node-color {
  background: rgba(52, 235, 46, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: limegreen;
}
.node-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: limegreen;
}

.gulp-color {
  background: rgba(235, 46, 46, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: #db4446;
}
.gulp-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: #db4446;
}

.sass-color {
  background: rgba(235, 46, 119, 0.062);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: pink;
}
.sass-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: pink;
}

.git-color {
  background: rgba(63, 112, 145, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: rgb(79, 124, 161);
}
.git-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: rgb(79, 124, 161);
}

.linux-color {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 3rem;
  font-size: 5rem;
  color: black;
}
.linux-line {
  width: 6rem;
  height: 0.5rem;
  margin: 1rem auto;
  background: black;
}

@media screen and (min-width: 768px) {
  .skills-center {
    max-width: 1170px;
    margin: 0 auto;
  }
}
/* End of Skills */

/* Contact */
.contact {
  padding: 6rem 2rem;
}
.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
}
.contact-form {
  border: 0.3rem solid none;
  color: var(--primaryColor);
  font-weight: bolder;
  border-radius: 0.2rem;
  background-color: var(--mainWhite);
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.7);
  width: 100%;
}

::placeholder {
  color: var(--secondaryColor);
  font-weight: bold;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 1rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #bbb;
  box-sizing: border-box;
  color: var(--mainBlack);
  border-radius: 0.2rem;
  background-color: var(--mainWhite);
}
textarea {
  width: 100%;
  padding: 1rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #bbb;
  box-sizing: border-box;
  color: var(--mainBlack);
  height: 12rem;
  border-radius: 0.2rem;
  background-color: var(--mainWhite);
}
.contact-input {
  padding: 1.6rem;
}
.contact-header {
  background-color: var(--primaryColor);
  width: 100%;
  height: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}
.contact-header-content {
  color: var(--mainWhite);
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  text-align: center;
}
.contact-header-content h2 {
  font-weight: bolder;
}
.contact-btn {
  background-color: var(--primaryColor);
  width: 100%;
  margin: 0.8rem 0;
  border: none;
  border-radius: 0.2rem;
  padding: 1.5rem 3rem;
  color: var(--mainWhite);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.form-group label {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .contact-center {
    max-width: 1170px;
    margin: 0 auto;
  }

  .contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    margin: 60px auto;
  }
  .contact-header {
    background-color: var(--primaryColor);
    width: 100%;
    height: 100%;
    border-radius: 0.2rem 0 0 0.2rem;
  }

  .contact-header-content {
    color: var(--mainWhite);
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    text-align: left;
  }
  .contact-header-content h2 {
    font-weight: bolder;
    padding-bottom: 10px;
  }
  .contact-form {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    border: 3px solid none;
    color: var(--primaryColor);
    font-weight: bolder;
    border-radius: 0.2rem;
    background-color: var(--mainWhite);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    width: 100%;
  }
  textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.8rem 0;
    display: inline-block;
    border: 0.1rem solid #bbb;
    box-sizing: border-box;
    color: var(--mainBlack);
    height: 13rem;
    border-radius: 0.2rem;
    background-color: var(--mainWhite);
  }

  .contact-btn {
    background-color: var(--primaryColor);
    width: 100%;
    margin: 0.8rem 0;
    border: none;
    border-radius: 0.2rem;
    padding: 1.5rem 3rem;
    color: var(--mainWhite);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  .form-group label {
    text-transform: capitalize;
  }
}

/* End of Contact */

/* Footer */
.footer {
  background: var(--mainBlack);
  padding: 6rem 2rem;
  color: var(--mainWhite);
}
.footer h4 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.summary {
  background: var(--mainBlack);
  border-bottom: solid 0.1rem var(--secondaryColor);
  padding: 0 0 6rem 0;
  color: var(--mainWhite);
  max-width: 1170px;
  margin: 0 auto;
}
.follow-links-footer {
  display: flex;
  list-style-type: none;
}
.follow-links-footer .follow-icon-footer {
  color: var(--mainWhite);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-links-footer .follow-icon-container-footer1 {
  background: #3b5998;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer2 {
  background: #55acee;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer3 {
  background: #e95950;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer4 {
  background: #007bb5;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-links-footer .follow-icon-container-footer5 {
  background: #04669a;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
}
.follow-container-footer {
  margin: 0 1rem 0 0;
}
.footer img {
  width: 14rem;
}
.footer-one {
  /* padding: 8rem 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 40px;
  justify-content: space-between;
}
.footer-contact a {
  text-decoration: none;
  color: var(--mainWhite);
}
.footer-contact li {
  margin: 0 0 2rem 0;
  list-style-type: none;
}
.last-footer {
  display: flex;
  justify-content: center;
  padding: 6rem 0 0 0;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-center {
    max-width: 1170px;
    margin: 0 auto;
  }
  .footer-one {
    /* padding: 8rem 0; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    justify-content: space-between;
  }
  .last-footer {
    display: flex;
    justify-content: center;
    padding: 6rem 0 0 0;
    text-transform: uppercase;
  }
}
/* End of Footer */

/* Scroll to Top  */
.scroll-top {
  color: var(--mainBlack);
  font-size: 1.5rem;
  position: fixed;
  right: 0rem;
  bottom: 5rem;
  visibility: hidden;
  transition: all linear 0.5s;
  padding: 0.8rem 1.2rem 0.6rem 1.2rem;
  /* background: rgba(0, 0, 0, 0.6); */
  border-radius: 50px 0 0 50px;
  transform: translateX(100%);
  background: var(--mainWhite);
  box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
}

.top-btn {
  visibility: visible;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .scroll-top {
    color: var(--mainBlack);
    font-size: 2rem;
    position: fixed;
    right: 0rem;
    bottom: 10rem;
    visibility: hidden;
    transition: all linear 0.5s;
    padding: 1.2rem 2rem 1rem 2rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px 0 0 50px;
    transform: translateX(100%);
    background: var(--mainWhite);
    box-shadow: 0 0 1.2rem 0 rgba(29, 28, 28, 0.849);
  }

  .top-btn {
    visibility: visible;
    transform: translateX(0);
  }
}
/* End of scroll to Top */
